// Custom variables
/*
$color--default: #313131;
$color--primary: #FAAC8A;
$color--secondary: #F3F3F3;
$color--background: #FFFFFF;
$color--link: $color--default;
$color--button-text: $color--default;
$color--button-background: $color--primary;
$size--unit: 0.5rem;
$image--background: url('/images/background.png');
*/

// Snipcart style
.snipcart {
  color: $color--default;
  font-size: $size--unit * 1.9;

  // theme
  --color-default: #{$color--default};
  --color-icon: #{$color--primary};
  --color-badge: #{$color--primary};
  --color-badge-active: #{$color--primary};
  --color-link: #{$color--primary};
  --color-link-hover: #{$color--primary};
  --color-inputIcon-focus: #{$color--primary};
  --color-buttonSecondary: #{$color--default};
  --color-buttonSecondary-hover: #{$color--background};
  --borderColor-badge-disabled: #{$color--background};
  --borderColor-input-hover: #{$color--primary};
  --borderColor-input-focus: #{$color--primary};
  --borderColor-input-checked: #{$color--primary};
  --bgColor-default: #{$color--background};
  --bgColor-alt: #{$color--background};
  --bgColor-modal: #{$color--background};
  --bgColor-badge-active: #{$color--background};
  --bgColor-badge-disabled: #{$color--background};
  --bgColor-input-checked: #{$color--primary};
  --bgColor-buttonPrimary: #{$color--primary};
  --bgColor-buttonPrimary-hover: #{$color--primary};
  --bgColor-buttonPrimary-active: #{$color--primary};
  --bgColor-buttonSecondary: #{$color--background};
  --bgColor-buttonSecondary-hover: #{$color--primary};
  --bgColor-buttonDanger: #{$color--background};

  // background image
  &-modal__container {
    @if $image--background {
      background-image: $image--background;
    }
  }

  &-layout {
    // transparent background
    background-color: transparent;
    // columns margin
    &__col {
      &:nth-of-type(2) {
        @media (min-width: 1024px) {
          margin: 0;
          margin-left: 16px;
        }
      }
      &--large {
        margin: 0;
      }
    }
  }

  // loader color
  &-loading-overlay__pending,
  &__loading__screen__content {
    & svg path.active {
      fill: $color--primary;
    }
  }

  // cart empty text
  &-empty-cart {
    color: $color--default;
  }

  &-cart {
    &-header {
      // fix margin-bottom (for first badge)
      @media (max-width: 1024px) {
        margin: 0 auto 26px auto;
      }
    }
    // disable default background color
    &__content {
      background-color: transparent;
    }
  }

  // cart summary
  &-summary {
    &-fees {
      // shipping notice
      &__notice {
        margin-top: 0;
        margin-bottom: 24px;
      }
      // tax (?)
      &__tax-notice path {
        fill: $color--primary;
      }
    }
  }

  // discount form
  &-discount-box {
    &__form {
      border: none;
    }
    &__submit {
      color: $color--default;
    }
  }

  // fix checkout step padding on desktop
  &-checkout-step {
    @media (min-width: 1024px) {
      padding-bottom: 6px;
    }
  }

  // fix shipping rates list style
  &-shipping-rates-list-item {
    border: none;
    &--highlight {
      border: none;
    }
    &:focus-within {
      border: none;
    }
  }

  // radio form
  &-form {
    &-radio {
      &+label:before {
        background: $color--background;
        border: 1px solid $color--default;
      }
      &:checked+label:before {
        background: none;
        background-color: $color--primary;
        border: 1px solid $color--primary;
      }
    }
  }

  // payment logo background
  &-featured-payment-methods__title {
    background-color: $color--secondary;
  }

  // fix order details column width
  &-order {
    &__details {
      margin: 0;
      @media (min-width: 1024px) {
        max-width: 100%;
      }
    }
  }

  // fix order details cart icon color
  &__icon--blue-dark path {
    fill: $color--primary;
  }

  // fix cart overflow (Firefox)
  &-cart-summary-side &-cart__content &-item-list {
    overflow: auto;
  }
}
