          <div class="carousel" data-flickity='{ "imagesLoaded": true, "percentPosition": false, "pageDots": false, "fullscreen": true }'>
            <img src="{{ image|default('images/default.png') }}" alt="Image de {{ product.name }}">
            {%- if product.gallery is defined ~%}
              {%- for img in product.gallery ~%}
            <img src="{{ img|default('images/default.png') }}" alt="Image de {{ product.name }}">
              {%- endfor ~%}
            {%- endif ~%}
          </div>
