<!DOCTYPE html>
{% set language = page.language|default(site.language)|default('fr') %}
<html lang="{{ language }}">
  <head>
    {%~ include 'partials/head.html.twig' with {'page': page} only ~%}
  </head>
  <body>
    {%~ include 'partials/header.html.twig' with {'page': page} only ~%}
    <main class="main">
      {%- block content ~%}
      {{- page.content -}}
      {%- endblock ~%}
    </main>
    {%~ include 'partials/footer.html.twig' with {'language': language, 'page': page} only ~%}
  </body>
</html>
