<!DOCTYPE html>
<html lang="{{ site.language }}">
  <head>
    {%~ include 'partials/head.html.twig' with {'page': page} only ~%}
  </head>
  <body>
    {%~ include 'partials/header.html.twig' with {'page': page} only ~%}
    <main class="main">
      {%~ block content ~%}
      {{- page.content -}}
      {%~ endblock ~%}
    </main>
    {%~ include 'partials/footer.html.twig' with {'page': page} only ~%}
    {%~ include 'partials/identity.html.twig' with {'site': site} only ~%}
  </body>
</html>