    <footer class="footer">
      <div class="footer__content">
        <div class="footer__copyright"><a href="{{ cecil.url }}">Cecil</a> static site with a <a href="https://snipcart.com/">Snipcart</a> powered store</div>
        <!--<div class="footer__socials">
          <a href="https://twitter.com/#">Twitter</a> | <a href="https://github.com/#">Github</a>
        </div>-->
      </div>
    </footer>
