{% extends '_default/page.html.twig' %}

{% block content %}
      <div class="products">
        {%- for product in site.pages.all|filterBy('section', 'products')|sortByWeight ~%}
          {%~ include 'partials/product.html.twig' with {'product': product} ~%}
        {%- endfor ~%}
      </div>
{% endblock %}
